<div class="container">
    <div class="home-card">
        <div class="card text-center mx-auto" style="width: 40rem;">
            <img class="card-img-top" src="images/ghibli-chars.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Ghibli App</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corrupti. Odio esse iusto deserunt perspiciatis
                    culpa deleniti odit, aspernatur consequuntur totam doloribus, praesentium temporibus perferendis omnis
                    inventore sapiente ipsa mollitia!</p>
                <a href="/movies" class="btn btn-primary">Check movies!</a>
            </div>
        </div>
    </div>

</div>